body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1B2A1B;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-between;
}

.navItem {
  padding: 4px;
  margin: 4px;
  color: aquamarine;
  border: solid green 2px;
  border-radius: 7px;
}

.gummys {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items:center ;
justify-content: center;}

.gummy{
margin: 4px;
padding: 10px;
border: 3px green solid;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
min-width: 300px;
}

.gummyTitle{
  font-weight: 700;
  font-size: x-large;
}
.gummyBrand {
  font-weight: 300;
  font-size: medium;
  opacity: 70%;
}
.gummyRating {
  font-weight: 800;
  font-size: large;
}
.ratingWord {
  font-weight: 300;
  font-size: small;
  opacity: 70%;

}
.score {
  margin: 15px 0px;
  padding: 5px;
  border: 2px solid;
  border-radius: 15px;
  width: 50px;
}

.infoButton {
  background-color: darkolivegreen;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px darkgreen ;
  border-style: dotted;
}

.infoButton:hover{
  background-color: lime;
  color: black;
  border-style: solid;
}

.gummy:hover{
  background-color: lightgreen;
  color: darkblue;
  cursor: pointer;
}

/* i want this to be stuck to bottom but forget how rio */
.date {
  opacity: 50%;
  font-size: small;
}

input {
  color: black;
  background-color: rgb(170, 248, 196);
  margin: 10px;
  padding: 5px;
}
textarea {
  color: black;
  background-color: rgb(170, 248, 196);
  margin: 10px;
  padding: 5px;
}

.formBox{
  display: flex;
  flex-direction: column;
  width:max-content;
}